{# templates/admin/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin Login</h1>

    <form method="POST" action="{{ path('app_login') }}">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
{% endblock %}